/* Estilo por class */
.Titulo{
    background-color: blue;
    color: white;
}

/* Estilos en los tags */
div{
    background-color: blanchedalmond;
    padding: 5px;
}

input{
    border-radius: 10px;
}

label{
    background-color: lightblue;
    font-size: 20px;
}